/*
================
Variables 
================
*/

:root {
    --clr-gold: hsl(36, 47%, 57%);
    --clr-faint: hsl(0, 0%, 100%, .5);
    --clr-faded-white: hsl(0, 0%, 100%, .5);
    --clr-white: #fff;
    --clr-white-rgb: rgb(255, 255, 255);
    --clr-grey: hsl(210, 22%, 49%);
    --clr-dark: #212529;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --border-clr: rgba(0, 0, 0, 0.125);
    --bg-off-white: rgba(0, 0, 0, .03);
    --mb-3: 1rem;
    --mb-2: 0.5rem;
    --py-0: 0;
    --transition: .15s ease-in-out;
}

/*
* Space between all pages and the header: margin-bottom: 1rem !important;
* Color for sub-lead text: color: #6c757d !important;
* Media Screen:
@media (min-width: 576px) {
.container,
.container-sm {
    max-width: 540px;
}
}
*/

/*
================
Generic Styles
================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--clr-white);
    color: var(--clr-dark);
    text-align: left;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

ul {
    list-style: none;
    margin-top: 0;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0px 65px;
    margin: 0 auto;
}

.mb-2 {
    margin-bottom: var(--mb-2) !important ;
}

.mb-3 {
    margin-bottom: var(--mb-3) !important;
}

.py-0 {
    padding-bottom: var(--py-0) !important;
    padding-top: var(--py-0) !important;
}

 .text-gold {
     color: var(--clr-gold) !important;
 }

/*
================
Header
================
*/

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    background: var(--clr-gold);
    color: var(--clr-white);
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    color: var(--clr-white);
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.4rem;
}

.nav-link > .link {
    color: var(--clr-faded-white);
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-link > .link:hover {
    color: var(--clr-white);
    transition: .15s ease-in-out;
}

.nav-icon {
    margin-right: 0.15rem;
}

/*
================
Home page
================
*/

.landing > .container h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 300;
}

/* .landing .card h4 {
    margin-bottom: 0.5rem;
    margin-top: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
} */

.card-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.item .fa-icon {
    cursor: pointer;
}

.item:nth-child(1) .fa-icon {
    font-size: 1.2rem;
}

.item:nth-child(2) :nth-child(2) {
    color: red;
}

.item:nth-child(2) {
    font-size: 1.5rem;
}

.list-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 0px;
    margin-bottom: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    background: var(--clr-white-rgb);
    padding: 0.75rem 1.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-clr);
    border-radius: var(--radius);
    border-image: initial;
}

/*
================
Input page
================
*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--clr-white-rgb);
    background-clip: border-box;
    border: 1px solid var(--border-clr);
    border-radius: var(--radius);
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--bg-off-white);
    border-bottom: 1px solid var(--border-clr);
    text-transform: capitalize;
}

.card-header:first-child{
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

form {
    display: block;
    margin-top: 0em;
}

.form-control {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    cursor: default;
}

.control {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #495057;
    background-color: var(--clr-white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: var(--transition);
}

.control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

input,
button {
    overflow: visible;
}

input {
    writing-mode: horizontal-tb !important;
    margin: 0;
    font-family: inherit;
}

input[type=submit],
.btn-block {
    width: 100%;
}

[type=submit]:not(:disabled) {
    cursor: pointer;
}

input[type='submit' i] {
    white-space: pre;
}

.btn-block {
    display: block;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    transition: var(--transition);
}

.btn:hover {
    text-decoration: none;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

/*
================
About page
================
*/

.about-container h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.about-container h1, .lead {
    font-weight: 300;
}

.about-container .lead {
    font-size: 1.25rem;
}

.about-container p {
    color: var(--clr-grey);
}

.version {
    text-transform: capitalize;
    margin-top: 1rem;
}
























