/*
================
Variables 
================
*/

:root {
    --clr-gold: hsl(36, 47%, 57%);
    --clr-faint: hsl(0, 0%, 100%, .5);
    --clr-faded-white: hsl(0, 0%, 100%, .5);
    --clr-white: #fff;
    --clr-grey: hsl(210, 22%, 49%);
    --clr-dark: #212529;
    --spacing: 0.1rem;
    --radius: 0.25rem;
}

/*
* Space between all pages and the header: margin-bottom: 1rem !important;
* Color for sub-lead text: color: #6c757d !important;
* Media Screen:
@media (min-width: 576px) {
.container,
.container-sm {
    max-width: 540px;
}
}
*/

/*
================
Generic Styles
================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: var(--clr-white);
    color: var(--clr-dark);
    text-align: left;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    padding: 0;
    margin: 0;
}

/*
================
Header
================
*/

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-gold);
    color: var(--clr-white);
    padding: 30px;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: inherit;
    line-height: inherit;
    white-space: nowrap;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.4rem;
}

.nav-link {
    color: var(--clr-faded-white);
    display: flex;
    align-items: center;
    font-size: 1.15rem;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--clr-white);
    transition: ;
}

.nav-icon {
    margin-right: 0.15rem;
}

/*
================
Home page
================
*/

/*
================
Input page
================
*/

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--clr-white);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: var(--radius);
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    /* border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; */
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

form {
    display: block;
    margin-top: 0em;
}

.form-control {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.control {
    display: block;
    width: 97%;
    font-weight: 400;
    color: #495057;
    background: var(--clr-white);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

input,
button {
    overflow: visible;
}

input {
    writing-mode: horizontal-tb !important;
    margin: 0;
    font-family: inherit;
}

input[type=submit],
.btn-block {
    width: 100%;
}

[type=submit]:not(:disabled) {
    cursor: pointer;
}

input[type='submit' i] {
    white-space: pre;
}

.btn-block {
    display: block;
}

.btn-light {
    color: #212529;
    background: #f8f9fa;
    border-color: #f8f9fa;
}

.btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*
================
About page
================
*/

.about h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.about h1, .lead {
    font-weight: 300;
}

.about .lead {
    font-size: 1.25rem;
}

.about p {
    color: var(--clr-grey);
}
